<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.veggkart">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/veggkart_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cart_activity"
            android:label="@string/Cart">
            <intent-filter>
                <action android:name="com.example.vegkart.cart_activity" />

                <category android:name="android.intent.category.Default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Delivery_Activity"
            android:label="@string/Delivery_Address"
            android:parentActivityName=".cart_activity">
            <intent-filter>
                <action android:name="com.example.vegkart.Delivery_Activity" />

                <category android:name="android.intent.category.Default" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginAct"/>
        
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        
    </application>

</manifest>